bin/
obj/
pkg/
*.exe
*~
*.[oa]
*.so
*.layout
*.depend
*.backup
*.mcz
*.u
*.dir
*.pag
*.pidb
*.duo
ooUtil.js
println.js
jsLibc.js
myload.js

dirWalker1.slate/*
!dirWalker1.slate/*.slate

dirWalker1.smalltalk/*
!dirWalker1.smalltalk/DirWalker*.st
!dirWalker1.smalltalk/DirWalker.filetree
